/* Overall Site 
-------------------------*/
h1, h2, p, footer, ul.main-menu { 
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h1, ul.main-menu {
  text-align: center;
}

/* Header 
-------------------------*/

/* Menu 
-------------------------*/
ul.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
ul.main-menu>li {
  display: inline-block;
  padding: 5px;
}
a {
  padding: 10px  
  background: blue;
  color: white;
  padding: 10px;
}
a:hover {
  background-color: white;
  color: blue;
}
a: visited {
  color: white;
}

/* Body 
-------------------------*/
p { margin: 20px 10px 30px;
}

/* Footer 
-------------------------*/

