/* Color Pallette
------------------------
Blue -        #018fd3
White -       #ffffff
Light Blue -  #e5f3fa
Gray -        #45454b
Silver -      #d2d2d2
Black -       #000000
-------------------------*/


/* Font and Alignment
-------------------------*/
h1, h2, p, footer, ul, .lynda, table, th, td { 
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h1, h2 {
  text-align: center;
}
.body>h1>a, .body>h1>a:hover {
  text-decoration: none;
  color: white;
}

/* Header 
-------------------------*/
h1 {
  background-color:#000000;
  color: white;
  padding: 30px 10px 30px 10px;
  margin: 0;
  width: 100%;
}
/* Menu 
-------------------------*/
ul.main-menu {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
ul.main-menu>li {
    display: inline;
}
.main-menu {
  background-color: #45454b;
  width: 100%
}
ul.main-menu>li>a, ul.sub-menu>li>a {
  color: white;
  text-decoration:none
} 
ul.main-menu>li>a:hover, ul.sub-menu>li>a:hover {
  color: white;
  background-color: #87CEFA;
  color: white; 
 padding: 10px;
 text-decoration: none;
}
ul>li>a {
  padding: 10px;
}
ul>li>a.current {
  background-color:#018fd3;
  padding: 10px;
}
ul.sub-menu {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
ul.sub-menu>li {
  display: inline;
}
.sub-menu {
  background-color: #45454b;
  width: 100%
}

.content{
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.sticky + .content {
  padding-top: 102px;
}

/* Body 
-------------------------*/
#h2 { color: #000000;
  text-decoration: none;
}

a {
  color: #018fd3;
  padding: 5px
}
a:hover{
  color: blue;
}
.headshot>img {
  border-radius: 50%;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  border: 10px solid #018fd3;
}
img.bills {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  border: 10px solid #018fd3;
}

img.wip2 {
  float: left;
  width: 33.3%
    padding: 2px;
    display: block;
  margin-left: auto;
    margin-right: auto;
}
.wip { float: left;
}
p {
  margin: 20px 30px;
  text-indent: 50px;
}
.body { background-color:  #d2d2d2;
}
ul.bullet>li {
  padding-right: 20px;
  padding-left: 20px;
  margin: 10px;
}
table, th, td {
    border: 1px solid black;
    padding: 15px;
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
}
/* Footer 
-------------------------*/
footer {
  background-color:#000000;
  color: white;
  font-size: 12px;
  text-align: right;
  padding: 5px;
  width: 100%;

}
.email {
  text-decoration: underline;
}
