/* Header */
h1 { 
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Menu */
ul.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
ul.main-menu>li {
  display: inline;
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

/* Body */
p { 
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Footer */
footer {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
